header{
    background-image: url(../img/pattern.png);
    background-color:rgb(59, 59, 122);
    padding-top: 50px;
}
#logo{
    height: 60px;
}
h1{
    font-size: 40px;
}
h4{
    color: rgb(82, 80, 80);
}
span{
    color: lightseagreen;
}
div{
    height: 350px;
}
.bgcolor{
    background-color: yellow;
    color: black;
}
thead{
    color: white;
    background-color: teal;
}
.tab{
    width: 25%;
}
tbody{
    background-color:lightskyblue;
}
.img{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    height: 200px;
}
.img2{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
}
.white{
    color: white;
    text-align:left;
    padding-left: 20px;
    padding-top: 10px;
}